/*global*/
*{
    text-align: center;
   
}
/*header*/
header{
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: xx-large;
    
}

/*Body*/
body{
    background-color: black;
    color: white;
}

.iBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 3rem;
    padding: .2rem;
    padding-bottom: 10rem;
    border: .15rem solid black;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color: rgb(182, 181, 181);
    color: black;
    border-radius: 2rem;
}
.addBtn{
    font-size: medium;
    font-weight: 600;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: auto;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem;


}
.addBtn:hover{
    background-color: royalblue;
    transition: all .3s ease-in;
}
#itemDisplay{
    background-color: royalblue;
    color: white;
    text-transform: uppercase;
}